{:mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "enonic" {:url "https://repo.enonic.com/public/"}
  "clojars" {:url "https://repo.clojars.org/"}
  "sonatype" {:url "https://repository.sonatype.org/content/groups/forge/"}}

 :aliases
 {:portal {:extra-deps {djblue/portal {:mvn/version "0.50.0"}}}
  :storm {:classpath-overrides {org.clojure/clojure nil}
          :extra-deps {com.github.flow-storm/clojure {:mvn/version "1.11.1-11"}
                       com.github.flow-storm/flow-storm-dbg {:mvn/version "3.8.3"}}
          :jvm-opts ["-Dclojure.storm.instrumentEnable=true"
                     "-Dclojure.storm.traceEnable=true"
                     "-Dflowstorm.theme=dark"]}
  :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.48.0"}
                       io.aviso/pretty {:mvn/version "1.4.4"}
                       io.github.tonsky/clj-reload {:mvn/version "0.7.0"}}
          :main-opts ["-e"
                      "(load-file (str (System/getenv \"XDG_CONFIG_HOME\") \"/clojure/user.clj\"))"
                      "-m"
                      "nrepl.cmdline"
                      "--middleware"
                      "[cider.nrepl/cider-middleware]"]}}}

